recursive-include doex *.py
recursive-include doex *.ipynb
recursive-include doex *.json
recursive-include doex *.yaml
recursive-include doex *.keep
recursive-include doex *.txt
recursive-include notebooks *.ipynb

include setup.py
include requirements*.txt
include tox.ini
include pytest.ini
include README.md
include LICENSE
include MANIFEST.in
include *.md
include *.toml
include *.yml

include .bumpversion.cfg

# Documentation
graft docs
# exclude build files
prune docs/_build
# exclude sample notebooks for binder
prune binder
# Test env
prune .tox
# Build files
prune azure-pipelines.yml
prune notebooks/.ipynb_checkpoints